* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
}
.contmain{
    width: 100%;
    height: 750px;
    display: flex;
}
.contimg{
    width: 60%;
    height:900px;
}
.contLogin{
    width: 40%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#Dbdbdb;
}
.imgFondo{
    width:100%;
    height: 750px;
}

.formlogin{
    width: 340px;
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color:#FFBE00;
    border-radius: 15px;
}
.userandlig{
    display: flex;
    align-items: flex-end;
    font-family: sans-serif;
    font-size: 13px;
}
.logintext{
    font-weight:100;
    padding-left:20px;
}
.user{
    margin-top: 20px;
}
.imgUser{
    width: 50px;
    height:50px;
}
.inpputs{
    width: 190px;
    margin-top:30px;
    padding: 15px;
    border-radius:4px;
    border-style:none;
    background-color:rgb(214, 214, 127);
    text-align:center;
}
.btnlogin{
    width: 190px;
    margin-top: 20px;
    padding:15px;
    background-color: black;
    border-radius:25px;
    text-decoration:none;
    color:white;
    font-size:20px;
    text-align:center;
}
.btnlogin:hover{
    background-color:rgb(224, 218, 218);
    color:black;
}
.txtcheck{
    padding-left:5px;
    opacity:0.4;
}
.checks{
    display: flex;
    margin-top: 10px;
}
.intoSocialMedia{
    display:flex;
    width: 250px;
    height: 50px;
    margin-top:15px;
}
.socialM{
    width: 50%;
    height:40px;
    padding:4px;
}
.imgRsocial{
    width: 30px;
    height:30px;
}

.btnRedSocial{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding:20px;
    width:120px;
    height:40px;
}

/* -------------------aqui empieza el footer -----------------*/
footer {
	background: #202020;
	color: white;
}
.contContenedor {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 30px;
}
.containerBody {
	display: flex;
	justify-content: space-between;
}
.column1 {
	max-width: 400px;
	align-self: center;
}
.column1 a {
	text-decoration: none;
}
.column1 h1 {
	font-size: 80px;
	font-weight: 7;
	color: white;
}

.column1 span {
	color: #fdd100;
}

.column2 {
	max-width: 400px;
}
.column2 h1 {
	font-size: 22px;
}
.row {
	margin-top: 20px;
	display: flex;
}
.row img {
	width: 36px;
	height: 36px;
}
.row a {
	text-decoration: none;
	color: #c7c7c7;
	margin-top: 10px;
	margin-left: 10px;
}

.column3 {
	max-width: 400px;
}
.column3 h1 {
	font-size: 22px;
}
.row2 {
	margin-top: 20px;
	display: flex;
}
.row2 img {
	width: 36px;
	height: 36px;
}
.row2 a {
	text-decoration: none;
	margin-top: 10px;
	margin-left: 20px;
	max-width: 140px;
	color: white;
}

.containerBajo {
	width: 100%;
	background-color: yellow;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background-color: #101010;
}
.copyright a {
	text-decoration: none;
	color: #c7c7c7;
	font-weight: bold;
}

.terminos a {
	text-decoration: none;
	color: #c7c7c7;
}

@media (max-width: 768px) {
	.containerBody {
		flex-wrap: wrap;
	}
	.column2,
	.column3 {
		margin-top: 20px;
	}
}



