@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}
.contmain{
    width: 100%;
    height: 1150px;
}
.title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}


.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 30%;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    cursor:pointer;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 100px;
    height: 100px;
}


.container .card h4{
    font-weight:600;
    color: rgb(73, 73, 70);
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    color: rgb(117, 117, 63);
}
.contbtnNext{
    display: flex;
    justify-content: center;
    padding:5px;
    width:100%;
    height: 50px;
    margin-top: 10px;
}
.btnNext{
    text-decoration: none;
    color:white;
    background-color: rgb(64, 224, 176);
    width: 50%;
    height: 50px;
    text-align:center;
    padding-top: 7px;
    font-size: 30px;
    border-radius: 15px;
    transition: ease-in-out 1s;
    
}
.btnNext:hover{
    transition: ease-in-out 1s;
    transform:scale(1.1);
}

/* -------------------aqui empieza el footer -----------------*/
footer {
    background: #202020;
    color: white;
    max-width: 1510px;
    width: 100%;
  }
  .contContenedor {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 30px;
  }
  .containerBody {
    display: flex;
    justify-content: space-between;
  }
  .column1 {
    max-width: 400px;
    align-self: center;
  }
  .column1 a {
    text-decoration: none;
  }
  .column1 h1 {
    font-size: 80px;
    font-weight: 7;
    color: white;
  }
  
  .column1 span {
    color: #fdd100;
  }
  
  .column2 {
    max-width: 400px;
  }
  .column2 h1 {
    font-size: 22px;
  }
  .row {
    margin-top: 20px;
    display: flex;
  }
  .row img {
    width: 36px;
    height: 36px;
  }
  .row a {
    text-decoration: none;
    color: #c7c7c7;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .column3 {
    max-width: 400px;
  }
  .column3 h1 {
    font-size: 22px;
  }
  .row2 {
    margin-top: 20px;
    display: flex;
  }
  .row2 img {
    width: 36px;
    height: 36px;
  }
  .row2 a {
    text-decoration: none;
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
    color: white;
  }
  
  .containerBajo {
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #101010;
  }
  .copyright a {
    text-decoration: none;
    color: #c7c7c7;
    font-weight: bold;
  }
  
  .terminos a {
    text-decoration: none;
    color: #c7c7c7;
  }
  
  /* responsive de el login ---------------*/
  
  /* responsive de el footer ---------------*/
  
  @media (max-width: 768px) {
    .containerBody {
      flex-wrap: wrap;
    }
    .column2,
    .column3 {
      margin-top: 20px;
    }
    .contimg {
      display: none;
    }
    .contLogin {
      width: 100%;
    }
    .connHobbi{
        width: 30%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .img {
      display: none;
    }
    .menu {
      display: none;
    }
    .buscador {
      justify-content: center;
      text-align: center;
      width: 100%;
    }
    .header{
        height: 490px;
    }
    .main{
      height: 1220px;
    }
    .card .img{
        width: 100px !important;
        height: 100px !important;
    }
    .guter{
        height: 390px !important;
    }
    .ContfotoPerfil{
        margin-left: 6%;
    }
    .contLista{
        padding-left:2px;
    }
    .inf1{
        font-size: 15px;
    }
    .fotoPerfil{
      width: 85%;
      height: 170px;
    }
    .contmain{
      height: 2000px;
    }
  }


/* ------Aqui empieza el javascript */

.abajoD{
  background-color:rgb(247, 165, 165);
}





